API_DATA_PORT=
MARKET_DATA_PORT=

#---BACKEND API-DATA & MARKET-DATA---#

 #--MySQL--
SQL_HOST=
SQL_USER=
SQL_PASSWORD=
SQL_DATABASE=
SQL_PORT=

#--Redis Upstash---#
UPSTASH_REDIS_REST_URL=
UPSTASH_REST_TOKEN=

#----Redis on Server Hetzner-----#
REDIS_URL=

#-- E-mail --
MAIL_USER=
EMAIL_PASSWORD=

#--- Secret --
JWT_SECRET=

#--Api NEWS_API--#
NEWSAPI_KEY=
EXCHANGERATE_HOST_API_KEY=

#--Telegram Bot black-rates--#
TELEGRAM_CHAT_ID=
TELEGRAM_BOT_TOKEN=
#-- Google Client ID --#
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#--API URl --#
API_URL=
FRONTEND_URL=

#--- API Key   MARKET-DATA--#
SECRET_KEY=
API_CMC_KEY=
EXCHANGERATE_HOST_API_KEY=


#----- Front --------#
#----Prod -------------
NUXT_PUBLIC_BECK_URL_API=
NUXT_PUBLIC_BECK_URL_WS=

#----- Exchanges=----#
NUXT_PUBLIC_BINANCE_REF=